{
    "parser": "babel-eslint",
    "extends": ["airbnb"],
    "rules": {
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
        "react/jsx-one-expression-per-line": "off",
        "indent": [2, "tab", { "SwitchCase": 1, "VariableDeclarator": 1 }],
        "no-tabs": 0,
        "react/prop-types": 0,
        "react/jsx-indent": [2, "tab"],
        "react/jsx-indent-props": [2, "tab"],
        "comma-dangle": ["error", "never"],
        "arrow-body-style": "off",
        "react/jsx-props-no-spreading": "off",
        "no-unused-vars": "off",
        "react/require-default-props": "off",
        "import/no-unresolved": "off",
        "object-curly-newline": "off",
        "no-undef": "off",
        "import/no-dynamic-require": "off",
        "global-require": "off",
        "no-mixed-spaces-and-tabs": "off",
        "no-useless-escape": "off",
        "no-restricted-globals": "off",
        "no-unused-expressions": ["error", {
            "allowShortCircuit": true,
            "allowTernary": true,
            "allowTaggedTemplates": true
        }],
        "max-len": "off"
    }
}