/* Designer credit: https://dribbble.com/shots/1978243-Latest-News */
body, html {
    overflow-x: hidden;
}
.app-header {
    display: block;
    padding: 30px;
}
.app-title {
    display: inline-block;
    width: 100%;
    margin: 80px 0 0 0;
    float: left;
    position: relative;
    color: #fff;
}
@media (min-width: 768px) {
    .app-title {
        width: 20%;
        margin: 280px 0 0 0;
   }
}
.app-title h1 {
    font-size: 52px;
    margin: 0;
}
.app-title p {
    font-weight: 200;
    opacity: 0.5;
}
.app-title-content {
    position: relative;
    top: 50%;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translate(-50%, -50%);
}
@media (min-width: 768px) {
    .app-title-content {
        width: auto;
        position: absolute;
        text-align: left;
   }
}
.app-card-list {
    display: inline-block;
    width: 100%;
    float: right;
    margin: 0;
    min-height: 75vh;
    white-space: normal;
    overflow-x: scroll;
    margin-top: -70px;
}
.app-card-list::-webkit-scrollbar {
    display: none;
}
@media (min-width: 768px) {
    .app-card-list {
        width: 100%;
        white-space: nowrap;
        margin-top: 0;
   }
}
.app-card-list .card {
    margin: 60px 30px;
    display: inline-block;
    width: 40%;
}

.app-card-list .card .card-body {
    white-space: normal;
}
.designer-link {
    display: inline-block;
    padding-top: 40px;
}

.card-title{
    text-align: center;
    margin-bottom: 15%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#modal-info{
    max-width: 45% !important;
    margin-left: 30%;
}

#modal-favorites{
    margin-left: 35%;
}

.modal-like-button{
    text-align: center;
    margin-bottom: 3%;
}

.more-info-img{
    max-width: 100%;
}

.card-category{
    text-align: center;
}

.date{
    font-style: italic;
}

