.bot{
    text-align: center;
}

.bot-modal{
    max-width: 45% !important;
    margin-left: 30%;
    max-height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.46), 0 6px 20px 0 rgba(0, 0, 0, 0.46);
}

.monkey-icon{
    width: 8%;
}