.TSToast {
  z-index: 600;
  position: absolute;
  top: 0px;
}
.toast-body a{
  color: black;
}
.alertToast .toast-body a{
  color: white;
}
.TSToast.alertToast {
  color: white;
  background-color: #CE4F4A;
}
.TSToast.alertToast .toast-header{
  color: white;
  background-color: #CE4F4A;
}