@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.subtitle {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  padding-top: 13px;
  padding-bottom: 2px;
  color: rgb(134, 134, 146);
  font-weight: 600;
}