@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.TSCard {
	font-family: 'Open Sans', sans-serif;
}

.TScardBody {
	text-align: left;
}

.cardHeader {
	background-color: white;
	color: rgb(134, 134, 146);
	font-size: large;
}

.cardDivider {
	color: rgb(134, 134, 146);
}

.tablinks {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	font-weight: bold;
	cursor: pointer;
	padding: 10px 10px;
	transition: 0.3s;
	font-size: 15px;
	color: #FF9A8D;
}

.tablinks:hover {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	font-weight: bold;
	cursor: pointer;
	padding: 10px 10px;
	transition: 0.3s;
	font-size: 15px;
	color: #FF1C00;
}

.tablinks:focus {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	font-weight: bold;
	cursor: pointer;
	padding: 10px 10px;
	transition: 0.3s;
	font-size: 15px;
	color: #FF1C00;
}

.iHeader{
	background-color: rgb(255,255,255);
	font-size: 10px;
	height: 27px;
	padding-top: 3px;
	color: rgb(134, 134, 146);
	padding-right:5px;
	padding-left: 5px;
}

.iText{
	padding-right:7px;
	padding-left: 7px;
}

.iFooter{
	background-color: rgb(255,255,255);
	font-size: 10px;
	height: 30px;
	padding-top: 3px;
	text-align: right;
	color: rgb(134, 134, 146);
}


.iImage{
	background: url('../../miscImages/infoGrey.png');
	background-size: 23px 23px;
	border: none;
	outline: none;
	height: 23px;
	width: 23px;
}

.iImage:hover {
	background: url('../../miscImages/infoOrange.png');
	background-size: 23px 23px;
	border: none;
	outline: none;
	height: 23px;
	width: 23px;
}

.iClose{
	background: url('../../miscImages/closeGrey.png');
	background-size: 20px 20px;
	border: none;
	outline: none;
	height: 20px;
	width: 20px;
}

.iClose:hover {
	background: url('../../miscImages/closeOrange.png');
	background-size: 20px 20px;
	border: none;
	outline: none;
	height: 20px;
	width: 20px;
}

.popup {
	font-family: 'Open Sans', sans-serif;
	position: absolute;
	width: 100%;
	height: 100%;
	margin: auto;
	background-color: rgba(157, 134, 128, 0.50);
  }

  .popup_inner {
	position: absolute;
	text-align: left;
	left: 25%;
	right: 30%;
	top: 5%;
	background:rgba(255, 255, 255, 1); ;
  }


