@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.TSCard {
	font-family: 'Open Sans', sans-serif;
}

.TScardBody {
	text-align: left;
}

.cardHeader {
	background-color: white;
	color: rgb(134, 134, 146);
	font-size: large;
}

.cardDivider {
	color: rgb(134, 134, 146);
}
