@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.TSCard {
	font-family: 'Open Sans', sans-serif;
}

.TScardBody {
	text-align: left;
}

.cardHeader {
	background-color: white;
	color: rgb(134, 134, 146);
	font-size: large;
}

.cardDivider {
	color: rgb(134, 134, 146);
}

.tablinks {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	font-weight: bold;
	cursor: pointer;
	padding: 10px 10px;
	transition: 0.3s;
	font-size: 15px;
	color: #FF9A8D;
}

.tablinks:hover {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	font-weight: bold;
	cursor: pointer;
	padding: 10px 10px;
	transition: 0.3s;
	font-size: 15px;
	color: #FF1C00;
}

.tablinks:focus {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	font-weight: bold;
	cursor: pointer;
	padding: 10px 10px;
	transition: 0.3s;
	font-size: 15px;
	color: #FF1C00;
}



.iImage{
	background: url('../../miscImages/infoGrey.png');
	background-size: 20px 20px;
	border: none;
	outline: none;
	height: 20px;
	width: 20px;
}

.iImage:hover {
	background: url('../../miscImages/infoOrange.png');
	background-size: 20px 20px;
	border: none;
	outline: none;
	height: 20px;
	width: 20px;
}

.popup {

	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	background-color: rgba(0,0,0, 0.5);
  }
  .popup_inner {
	position: absolute;
	left: 25%;
	right: 25%;
	top: 25%;
	bottom: 25%;
	margin: auto;
	background: white;
  }


