.zoom-on-hover {
	transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
}
.zoom-on-hover:hover {
	-moz-transform: scale(2);
	-webkit-transform: scale(2);
	-o-transform: scale(2);
	-ms-transform: scale(2);
  transform: scale(2);
}

.gridWrapper {
  display: grid;
  background-color: white;
  grid-gap: 20px;
  grid-template-columns: 200px 200px;
  width: 420px;
  height: 420px;
  margin-top: 20px;
  overflow-y: scroll;
}

.outerFrame {
  background-color: white;
  width: 460px;
  height: 460px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.gridWrapper img {
  z-index: 1;
  width: 200px;
  height: 200px;
  filter: sepia(0%) saturate(100%) brightness(60%) hue-rotate(0deg);
}

.gridWrapper img:hover {
  filter: sepia(0%) saturate(100%) brightness(30%) hue-rotate(0deg);
}

.imgOverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.imgContainer {
  position: relative;
  text-align: center;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}