.footerlogotitle {
    margin-top :7%;
}

.email {
    margin-top :7%;
    text-align: right;
    align-self: right;
}

.emaillogo {
    position: "absolute";
    bottom: 0;
    align-self: center;
}

.aws-btn {
    --button-primary-color: #ea5940 !important;
    --button-primary-color-dark: #000000 !important;
    --button-primary-color-light: #000000 !important;
    --button-primary-color-hover: #ea5940 !important;
    --button-primary-color-active: #cfdee9 !important;
    --button-primary-border: none !important;
}