@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

.countryCardHeader {
	background-color: rgb(232, 233, 241, 0.5);
	display: flex;
}

.countryCardTitle {
	margin-left: 15px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	line-height: 3;
}
.countryCardBody {
	text-align: left;
	text-transform: capitalize;
}