.button {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  background-size: cover;
  overflow: hidden;
  display: block;
}
.button span {
  transition: all 0.6s ease;
  overflow: hidden;
  font-size: 62px;
  font-weight: 800;
  font-family: sans-serif;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0px;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
.button span::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -50px;
  left: -60px;
  width: 90px;
  height: 90px;
  background: #ea4c89;
  z-index: -1;
  box-shadow: 0px 0px 120px #ea4c89, 0px 0px 120px #ea4c89, 0px 0px 120px #ee9b83, 0px 0px 120px #ee9b83,0px 0px 120px #ee9b83;
  /* background-image:  linear-gradient(90deg, #ea4c89); */
  transition: all 0.3s ease;
  transform: rotate(-45deg);
}
.button span:hover::after {
  box-shadow: 40px -20px 0px #ea4c89, 41px -20px 8px rgba(0, 0, 0, 0.3), 80px 20px 0px #ea4c89, 81px 20px 8px rgba(0, 0, 0, 0.3), 120px 60px 0px #ee9b83, 121px 60px 8px rgba(0, 0, 0, 0.3), 160px 100px 0px #ee9b83, 161px 100px 8px rgba(0, 0, 0, 0.3), 200px 120px 0px #ee9b83;
}
.button span:hover {
  box-shadow: 4px 34px 24px rgba(0, 0, 0, 0.3);
}