@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

.AppHeaderWrapper {
	padding-top: 150px;
}
.AppHeader {
	/* background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url('pictures/output-na.gif'); */
	/* background: linear-gradient(rgb(253, 218, 197, 0.3), rgb(253, 218, 197, 0.2)), url('pictures/output-na.gif'); */
	background-size: 100% 400px !important;
	background-repeat: no-repeat !important;
	width: 100%;
	height: 400px !important;
	z-index: 1;
	border-radius: 20px 20px 0 0;
}
.AppHeader .country {
	text-align: center;
	padding-top: 10%;
	color: white;
	font-size: 40px;
	font-weight: 750;
	font-family: 'Source Sans Pro', sans-serif;

}
.AppHeader .city {
	text-align: center;
	color: white;
	font-size: 30px;
	font-weight: 750;
	font-family: 'Source Sans Pro', sans-serif;
	position: relative;
}
.AppHeader .time {
	text-align: center;
	color: white;
	font-size: 20px;
	font-weight: 750;
	font-family: 'Source Sans Pro', sans-serif;
	position: relative;
}
.AppHeader .subtitle {
	text-align: center;
	color: white;
	font-size: 23px;
	font-weight: 600;
	display: block;
}

.subscribe{
    margin-top: 2%;
}
