.Navbar {
	background-color: transparent;
	z-index: 500;
}
.Navbar .title {
	color: white !important;
	font-weight: 500;
}
.Navbar .rightTitle {
	font-weight: 600;
	background-color: transparent;
	border: solid 2px white;
	border-radius: 8px;
}
a {
	text-decoration: none !important;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
	background-color: #ff6e61;
}

.dropdown-item.active, .dropdown-item:active {
	background-color: #ff6e61 !important;
}

#visit-profile {
	transform: rotate(-20deg);
	margin-top:10px;
}

